<app-toobar-navigation></app-toobar-navigation>


<button [class.selected]="isSelected" (click)="toggleSelection()">Selecionar</button>


<div class="grid" style="background-color: beige">
  <div class="col-12">
    <div class="content">
      <div class="group-cards-orders">
        <span class="title-group-card">Pedidos para Aprovar</span>

        <div class="card-orders" style="border-left: 5px solid #3b82f6">
          <div>
            <p-button icon="pi pi-bookmark" severity="secondary"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Pedidos aguardando Aprovação</span>
            <strong class="count">8</strong>
          </div>
        </div>

        <div class="card-orders" style="border-left: 5px solid #3b82f6">
          <div>
            <p-button icon="pi pi-bookmark" severity="secondary"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Soma de Quantidade</span>
            <strong class="count">8</strong>
          </div>
        </div>
      </div>

      <div class="group-cards-orders">
        <span class="title-group-card">Pedidos em Produção</span>

        <div class="card-orders" style="border-left: 5px solid #eb8125">
          <div>
            <p-button icon="pi pi-bell"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Pedidos em Produção</span>
            <strong class="count">37</strong>
          </div>
        </div>

        <div class="card-orders" style="border-left: 5px solid #eb8125">
          <div>
            <p-button icon="pi pi-bookmark" severity="secondary"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Quantidade em Produção</span>
            <strong class="count">8</strong>
          </div>
        </div>
      </div>

      <div class="group-cards-orders">
        <span class="title-group-card">Pedidos em Atrasados</span>

        <div class="card-orders" style="border-left: 5px solid #dc2626">
          <div>
            <p-button icon="pi pi-bell"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Pedidos em Atraso</span>
            <strong class="count">3</strong>
          </div>
        </div>

        <div class="card-orders" style="border-left: 5px solid #dc2626">
          <div>
            <p-button icon="pi pi-bookmark" severity="secondary"></p-button>
          </div>
          <div class="details-card-orders">
            <span>Soma de Quantidade Total</span>
            <strong class="count">1023</strong>
          </div>
        </div>
      </div>

      <div class="group-cards-orders">
        <span class="title-group-card">SLA</span>

        <div
          class="card-orders"
          style="height: 100%; border-left: 5px solid #666262"
        >
          <div
            class="details-card-orders"
            style="width: 100%; justify-content: center; align-items: center"
          >
            <strong class="count">3</strong>
            <span>Pedidos em Atraso</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <!-- GRAFICO DE PODUTOS -->
      <p-card
        header="Quantidade de produtos em estoque"
        styleClass="shadow-3 m-5 text-indigo-800"
      >
        <p-chart
          type="bar"
          [data]="productsChartDatas"
          [options]="productsChartOptions"
        ></p-chart>
      </p-card>

    </div>
  </div>
</div>
