<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center aling-content-center text-align-center"
    >
      <!-- LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
        *ngIf="loginCard"
          styleClass="mt-10"
          header="Login"
          subheader="Faça Login com sua conta existente!"

        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="email" pInputText placeholder="Email" formControlName="email"/>
          </div>

          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="password" pInputText placeholder="Senha" formControlName="password" />
          </div>
          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple label="Login" type="submit"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor:pointer"
            >Criar conta</span
          >
        </p-card>
      </form>

      <!-- SIGNUP -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
        <p-card
        *ngIf="!loginCard"
          styleClass="mt-10"
          header="Criar conta"
          subheader="Crie já sua conta gratuita!"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input type="text" pInputText placeholder="Nome" formControlName="name" />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input type="emai" pInputText placeholder="Email" formControlName="email"/>
          </div>

          <div
            class="flex justify-content-center mt-3 align-content-center text-align-center"
          >
            <input type="password" pInputText placeholder="Senha" formControlName="password"/>
          </div>
          <div class="card flex justify-content-center mt-3">
            <button pButton pRipple label="Criar conta" type="submit"></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
            (click)="loginCard = !loginCard"
            style="cursor:pointer"
            >Fazer login</span
          >
        </p-card>
      </form>
    </div>
  </div>
</div>
