<!-- FORM ADD PRODUCT -->
<div>
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- NOME DO PRODUTO -->
      <input pInputText placeholder="Nome" formControlName="name" />

      <!-- CATEGORIA DO PRODUTO -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>

      <!-- PREÇO DO PRODUTO -->
      <input pInputText placeholder="Preço" formControlName="price" />

      <!-- DESCRIÇÃO DO PRODUTO -->
      <input pInputText placeholder="Descrição" formControlName="description" />

      <!-- QUANTIDADE DO PRODUTO -->
      <input pInputText placeholder="Quantidade" formControlName="amount" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- EDIT FORM -->
